.App {
  text-align: center;
  justify-content: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Custom styles starts here */
p {
  color: #6c757d !important;
  font-size: 12px;
  margin: 0;
  margin-bottom: 0.25rem;
}

button {
  background: #eee;
  font-size: 12px;
  margin: 0.25rem;
  padding: 0.25rem 0.75rem;
  border: 1px solid #ddd;
  border-radius: 100px;
}

#button-group {
  width: 360px;
  margin: auto;
  padding: 0.25rem;
}

#preview {
  position: relative;
  left: 50%;
  top: 0;
  transform: translate(-50%);
  background: #000;
  width: 360px;
  height: 482px;
}

.fixed {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%);
}

.loader {
  position: absolute;
  top: 0;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.25);
  color: #fff;
  transform: translate(-50%);
}

.btn-device-container {
  padding: 1rem;
}

footer {
  color: #6c757d !important;
  font-size: 12px;
  padding: 0.75rem;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.Dropzone-img {
  max-width: calc(100vw - 60px);
  max-height: calc(100vw - 60px);
  width: 448px;
  height: 448px;
  border: thin solid rgba(64, 64, 64, 0.15);
  border-radius: 4px;
  object-fit: cover;
}

.Dropzone {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: thin dashed #c2c2c2;
  background: #fcfcfc;
  max-width: calc(100vw - 40px);
  max-height: calc(100vw - 40px);
  width: 468px;
  height: 468px;
  padding: 10px;
  border-radius: 5px;
  position: relative;
}

.Dropzone-page {
  margin: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.Dropzone-input-wrapper {
  width: 100%;
  max-width: 800px;
}

.Dropzone-input {
  background-color: white;
  line-height: normal;
  align-self: center;
  border-radius: 2px;
  margin: 40px 0;
  border: none;
  height: 52px;
  width: 100%;
  font-size: 1.1em;
  font-family: normal 1em Helvetica, sans-serif;
  padding: 0px 22px;
  color: rgb(64, 64, 64);
  box-shadow: rgba(0, 0, 0, 0.14902) 0px 2px 2px 0px,
    rgba(0, 0, 0, 0.0784314) 0px 0px 0px 1px;
  transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

.Dropzone-input:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 9px 0px,
    rgba(0, 0, 0, 0.0784314) 0px 0px 0px 1px;
  transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);
}
